{
 :username "CHANGEME_USER"
 :password "CHANGEME_PASS"
 :serviceurl "CHANGEME_SERVICEURL"

 :connector-name "CHANGEME_CONNECTOR_NAME"

 ;; For component deployment tests.
 :comp-uri "CHANGEME_COMP_URI"

 ;; For application deployment tests.
 :app-uri "CHANGEME_APP_URI"
 :comp-name "CHANGEME_COMP_NAME"
 }

